.home_container{
    width: 100%;
    /* background-image: linear-gradient(to-right,rgb(190, 227, 116),#56BB6B); */
    /* background-color: #56BB6B; */
    background-image: linear-gradient(to right, rgb(247, 242, 242) , #56BB6B);
    display: flex;
}
.home_first{
    width: 50%;
    
}
.home_first div{
    margin: 10px;
 color: #56BB6B;
 font-weight: bold;
}
.home_content1{
    font-size: 20px;
    padding: 20px;
}
.home_content2{
    font-size: small;
    padding: 10px 30px;
}
.home_second{
    width: 50%;
}

.home_img{
    padding-top: 22px;
}
.home_btn{
    padding: 7px 20px;
    border-radius: 5px;
    color: antiquewhite;
    background-color: #56BB6B;
    border: 1px solid #56BB6B;
    margin-top: 5px;
}
.home_container2{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
}
.container2_heading{
    width: 70%;
    /* flex-direction: column; */
    /* background-color: aqua; */

}
.container2_heading h3{
    color: #56BB6B;
    font-weight: bold;
}
.container2_seeall{
    width: 30%;
    text-align: right;
    /* padding: 20px; */
}
.buttons{
    padding: 5px 15px;
    font-weight: bold;
    color: #56BB6B;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid #56BB6B;
    background-color: white;
}
.home_specialist_container{
    display: flex;
    /* justify-content:center; */
    margin: 3px;
    overflow-x: auto;

}
.home_specialist_container::-webkit-scrollbar {
    display: none;
  }
.img_container img{
     height: 180px;
     width: 300px;
     margin: 5px;
}
.img_container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.line{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border: 1px solid rgb(129, 127, 127);
}
.home_container3{
    padding: 20px;
}
.home_doctors_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popular_doctors_container{
    display: flex;
    margin: 20px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 2px 6px rgb(129, 127, 127);
    /* width: 80%; */
}

.doctors_container1{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doctors_container2{
    width: 60%;
}
.doctors_container3{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home_doc_image{
    max-height: 150px;
    max-width: 150px;
}
.home_about_container{
    width: 100%;
    background-image: linear-gradient(to right, rgb(247, 242, 242) , #56BB6B);
    padding: 20px;
}
.home_about{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.about_content{
    display: flex;
    width: 50%;
    margin: 50px 0px ;
    align-items: center;
}
.about_text{
    width: 80%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-left: 10px;
    
}